@model Count.Models.Meal
@{
    ViewData["Title"] = "DeleteMeal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete Meal</h1>
<form asp-controller="Meal" asp-action="DeleteMeal" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
    @Html.HiddenFor(f => f.DayId)
    @Html.HiddenFor(f => f.Id)
    @Html.HiddenFor(f => f.IsDeleted)

    <div class="form-group">
        <label>Cource Title:</label>
        <br />
        <input asp-for="CourceTitle" class="form-control" readonly />
        <span asp-validation-for="CourceTitle" class="text-danger"></span>
    </div>

    <button class="btn btn-danger"><i class="fas fa-trash"></i> Remove</button>
    <br />
    <a asp-controller="Day" asp-action="AllMealsOfDay" asp-route-id="@Model.DayId"><i>Back </i></a>
</form>

