@model Count.Models.Post
@{
    ViewData["Title"] = "DeletePost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model.Author.UserName == User.Identity.Name)
{
    <form asp-area="" asp-controller="Post" asp-action="DeletePost" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"> </div>

        <div hidden>
            <div class="form-group">
                <label asp-for="Id"></label>
                <input asp-for="Id" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary"></label>
                <input asp-for="Summary" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Title"></label>
            <br />
            <input asp-for="Title" class="form-control" readonly />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PostedOn"></label>
            <br />
            <i><input asp-for="PostedOn" class="form-control" readonly /></i>
            <span asp-validation-for="PostedOn" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Content"></label>
            <br />
            <textarea asp-for="Content" class="form-control" style="height:200px;" readonly> </textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <button class="btn btn-danger">Delete Post </button>
        <a asp-area="" asp-controller="Post" asp-action="Feed">Back To Feed </a>
    </form>
}
else
{
    @ViewData["NotTheAuthor"];
}